In [1]:
memReg = 'members.txt'
exReg = 'inactive.txt'

with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    print(readFile.name)

Active Members:


Membership No  Date Joined  Active
    64571      2017-2-6     no
    60778      2018-8-23    no
    84824      2016-11-9    yes
    23062      2016-2-24    no
    67997      2016-4-8     no
    82487      2018-6-12    no
    34582      2017-5-24    no
    11571      2015-1-12    yes
    79847      2018-12-25   no
    28521      2019-6-5     yes
    73633      2018-5-21    yes
    28392      2018-4-23    no
    88995      2019-11-11   yes
    84533      2016-11-6    no
    91687      2015-12-7    no
    91120      2017-5-23    yes
    14998      2018-1-24    yes
    15938      2019-12-19   yes
    78207      2015-12-23   no
    23828      2019-12-22   no

members.txt

In [49]:
memReg = 'members.txt'
exReg = 'inactive.txt'

with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    64571      2017-2-6     no
    60778      2018-8-23    no
    84824      2016-11-9    yes
    23062      2016-2-24    no
    67997      2016-4-8     no
    82487      2018-6-12    no
    34582      2017-5-24    no
    11571      2015-1-12    yes
    79847      2018-12-25   no
    28521      2019-6-5     yes
    73633      2018-5-21    yes
    28392      2018-4-23    no
    88995      2019-11-11   yes
    84533      2016-11-6    no
    91687      2015-12-7    no
    91120      2017-5-23    yes
    14998      2018-1-24    yes
    15938      2019-12-19   yes
    78207      2015-12-23   no
    23828      2019-12-22   no

Inactive Members:


Membership No  Date Joined  Active
    79734      2016-10-12   no
    15597      2016-8-3     no
    97002      2016-10-6    no

In [50]:
headers = "Membership No  Date Joined  Active  \n"

with open(memReg, 'r+') as read_current:
    currentMem_L = []
    for line in read_current:
        currentMem_L.append(line)

currentMem_L

['Membership No  Date Joined  Active  \n',
 '    64571      2017-2-6     no    \n',
 '    60778      2018-8-23    no    \n',
 '    84824      2016-11-9    yes   \n',
 '    23062      2016-2-24    no    \n',
 '    67997      2016-4-8     no    \n',
 '    82487      2018-6-12    no    \n',
 '    34582      2017-5-24    no    \n',
 '    11571      2015-1-12    yes   \n',
 '    79847      2018-12-25   no    \n',
 '    28521      2019-6-5     yes   \n',
 '    73633      2018-5-21    yes   \n',
 '    28392      2018-4-23    no    \n',
 '    88995      2019-11-11   yes   \n',
 '    84533      2016-11-6    no    \n',
 '    91687      2015-12-7    no    \n',
 '    91120      2017-5-23    yes   \n',
 '    14998      2018-1-24    yes   \n',
 '    15938      2019-12-19   yes   \n',
 '    78207      2015-12-23   no    \n',
 '    23828      2019-12-22   no    \n']

In [51]:
for i in range(1, len(currentMem_L)):
    print(currentMem_L[i])

    64571      2017-2-6     no

    60778      2018-8-23    no

    84824      2016-11-9    yes

    23062      2016-2-24    no

    67997      2016-4-8     no

    82487      2018-6-12    no

    34582      2017-5-24    no

    11571      2015-1-12    yes

    79847      2018-12-25   no

    28521      2019-6-5     yes

    73633      2018-5-21    yes

    28392      2018-4-23    no

    88995      2019-11-11   yes

    84533      2016-11-6    no

    91687      2015-12-7    no

    91120      2017-5-23    yes

    14998      2018-1-24    yes

    15938      2019-12-19   yes

    78207      2015-12-23   no

    23828      2019-12-22   no

In [52]:
inactive_L = []
for i in range(1,len(currentMem_L)):
    if "no" in currentMem_L[i]:
        inactive_L.append(currentMem_L[i])

inactive_L

['    64571      2017-2-6     no    \n',
 '    60778      2018-8-23    no    \n',
 '    23062      2016-2-24    no    \n',
 '    67997      2016-4-8     no    \n',
 '    82487      2018-6-12    no    \n',
 '    34582      2017-5-24    no    \n',
 '    79847      2018-12-25   no    \n',
 '    28392      2018-4-23    no    \n',
 '    84533      2016-11-6    no    \n',
 '    91687      2015-12-7    no    \n',
 '    78207      2015-12-23   no    \n',
 '    23828      2019-12-22   no    \n']

In [53]:
import pandas as pd
filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"
df = pd.read_csv(filename)

In [54]:
df.iloc[0,0]

'Michael Jackson'

In [55]:
import pandas as pd

In [56]:
population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])

In [57]:
population_data

Empty DataFrame
Columns: [Rank, Country, Population, Area, Density]
Index: []

In [58]:
rank = 1
country = 'Hong Kong'
population = 7800000
area = 2000
density = 6890

# population_data = population_data.append({"Rank":rank, "Country":country, "Population":population,
#                                        "Area":area, "Density":density}, ignore_index=True)

# population_data

In [59]:
rank

1

In [60]:
addition = pd.DataFrame([[rank, country, population, area, density]],
                        columns=['Rank', 'Country', 'Population', 'Area', 'Density'])
addition

   Rank    Country  Population  Area  Density
0     1  Hong Kong     7800000  2000     6890

In [61]:
population_data

Empty DataFrame
Columns: [Rank, Country, Population, Area, Density]
Index: []

In [62]:
population_data = pd.concat([population_data, addition], ignore_index=True)
population_data

  Rank    Country Population  Area Density
0    1  Hong Kong    7800000  2000    6890

In [63]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'), index=['x', 'y'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'), index=['x', 'y'])

In [64]:
df

   A  B
x  1  2
y  3  4

In [65]:
df2

   A  B
x  5  6
y  7  8

In [66]:
import wget

ModuleNotFoundError: No module named 'wget'

In [67]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: wget
  Building wheel for wget (setup.py): started
  Building wheel for wget (setup.py): finished with status 'done'
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9680 sha256=d320603d7c4808bee06d8d8b960d8f8374278c585525c706fdf142ed9188f706
  Stored in directory: c:\users\steve\appdata\local\pip\cache\wheels\40\b3\0f\a40dbd1c6861731779f62cc4babcb234387e11d697df70ee97
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [68]:
import wget

In [69]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/data/apple.json"

In [70]:
url

'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/data/apple.json'

In [71]:
filename = wget.download(url)

100% [................................................................................] 5699 / 5699

In [72]:
filename

'apple.json'

In [73]:
import json
with open(filename) as json_file:
    apple_info = json.load(json_file)
    # Print the type of data variable    
    #print("Type:", type(apple_info))
apple_info

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 100000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408 996 1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'ebitdaMargins': 0.33890998,
 'profitMargins': 0.26579002,
 'grossMargins': 0.43019,
 'operatingCashflow': 112241000448,
 'revenueGrowth': 0.112,
 'operatingMargins': 0.309,
 'ebitda': 128217997312,
 'targetLowPrice': 160,
 'recommendationKey': 'buy',
 'grossProfits': 152836000000,
 'freeCashflow': 80153247744,
 'targetMedianPrice': 199.5,
 'currentPrice': 177.77,
 'earningsGrowth': 0.25,
 'currentRatio': 1.038,
 'returnOnAssets': 0.19875,
 'numberOfAnalystOpinions': 44,
 'targetMeanPrice': 193.53,
 'debtToEquity': 170.714,
 'returnOnEquity': 1.45567,
 'targetHighPrice': 215,
 'totalCash': 63913000960,
 'totalDebt': 122797998080,
 'totalRevenue': 378323009536,
 'totalCashPerShare': 3.916,
 'financialCurrency': 'USD',
 'revenuePerShare': 22.838,
 'quickRatio': 0.875,
 'recommendationMean': 1.8,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 7.824,
 'beta3Year': None,
 'enterpriseToEbitda': 23.086,
 '52WeekChange': 0.4549594,
 'morningStarRiskRating': None,
 'forwardEps': 6.56,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 16319399936,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 4.402,
 'sharesShort': 111286790,
 'sharesPercentSharesOut': 0.0068,
 'fundFamily': None,
 'lastFiscalYearEnd': 1632528000,
 'heldPercentInstitutions': 0.59397,
 'netIncomeToCommon': 100554997760,
 'trailingEps': 6.015,
 'lastDividendValue': 0.22,
 'SandP52WeekChange': 0.15217662,
 'priceToBook': 40.38392,
 'heldPercentInsiders': 0.0007,
 'nextFiscalYearEnd': 1695600000,
 'yield': None,
 'mostRecentQuarter': 1640390400,
 'shortRatio': 1.21,
 'sharesShortPreviousMonthDate': 1644883200,
 'floatShares': 16302795170,
 'beta': 1.185531,
 'enterpriseValue': 2959991898112,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1598832000,
 'lastSplitFactor': '4:1',
 'legalType': None,
 'lastDividendDate': 1643932800,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.204,
 'priceToSalesTrailing12Months': 7.668314,
 'dateShortInterest': 1647302400,
 'pegRatio': 1.94,
 'ytdReturn': None,
 'forwardPE': 27.099087,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0068,
 'sharesShortPriorMonth': 108944701,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 178.96,
 'regularMarketOpen': 178.55,
 'twoHundredDayAverage': 156.03505,
 'trailingAnnualDividendYield': 0.004833482,
 'payoutRatio': 0.1434,
 'volume24Hr': None,
 'regularMarketDayHigh': 179.61,
 'navPrice': None,
 'averageDailyVolume10Day': 93823630,
 'regularMarketPreviousClose': 178.96,
 'fiftyDayAverage': 166.498,
 'trailingAnnualDividendRate': 0.865,
 'open': 178.55,
 'toCurrency': None,
 'averageVolume10days': 93823630,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 0.88,
 'exDividendDate': 1643932800,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 176.7,
 'currency': 'USD',
 'trailingPE': 29.55445,
 'regularMarketVolume': 92633154,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2901099675648,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 95342043,
 'dayLow': 176.7,
 'ask': 178.53,
 'askSize': 800,
 'volume': 92633154,
 'fiftyTwoWeekHigh': 182.94,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.13,
 'fiftyTwoWeekLow': 122.25,
 'bid': 178.4,
 'tradeable': False,
 'dividendYield': 0.005,
 'bidSize': 3200,
 'dayHigh': 179.61,
 'regularMarketPrice': 177.77,
 'preMarketPrice': 178.38,
 'logo_url': 'https://logo.clearbit.com/apple.com'}