<font size="6">Introduction to Pandas for Data Analysis</font>

# Objective

1. Learn what Pandas Series are and how to create them.
2. Understand how to access and manipulate data within a Series.
3. Discover the basics of creating and working with Pandas DataFrames.
4. Learn how to access, modify, and analyze data in DataFrames.
5. Gain insights into common DataFrame attributes and methods.

# What is Pandas?

Pandas is a popular open-source data manipulation and analysis library for the Python programming language. It provides a powerful and flexible set of tools for working with structured data, making it a fundamental tool for datascientists, analysts, and engineers.

Pandas is designed to handle data in various formats, such as tabular data, time series data, and more, making it anessential part of the data processing workflow in many industries.


Here are some **key features and functionalities of Pandas**:

**Data Structures**: Pandas offers two primary data structures - DataFrame and Series.
1. A DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeledaxes (rows and columns).
2. A Series is a one-dimensional labeled array, essentially a single column or row of data.

**Data Import and Export**: Pandas makes it easy to read data from various sources, including CSV files, Excelspreadsheets, SQL databases, and more. It can also export data to these formats, enabling seamless data exchange.

**Data Merging and Joining**: You can combine multiple DataFrames using methods like merge and join, similar to SQLoperations, to create more complex datasets from different sources.

**Efficient Indexing**: Pandas provides efficient indexing and selection methods, allowing you to access specific rows andcolumns of data quickly.

**Custom Data Structures**: You can create custom data structures and manipulate data in ways that suit your specificneeds, extending Pandas' capabilities.

# Importing Pandas
Import Pandas using the import command, followed by the library's name. Commonly, Pandas is imported as pd for brevity in code.
```Python
import pandas as pd
```

# Data Loading
* Pandas can be used to load data from various sources, such as CSV and Excel files.
* The `read_csv()` function is used to load data from a CSV file into a Pandas DataFrame.

To read a CSV (Comma-Separated Values) file in Python using the Pandas library, you can use the `pd.read_csv()` function. Here's the syntax to read a CSV file:
```Python
import pandas pd
# Read the CSV file into a DataFrame
df = pd.read_csv('your_file.csv')
```
Replace `your_file.csv` with the actual file path of your CSV file. Make sure that the file is located in the same directory as your Python script, or you provide the correct file path.

# What is a Series?
A Series is a one-dimensional labeled array in Pandas. It can be thought of as a single column of data with labels or indices for each element. You can create a Series from various data sources, such as lists, NumPy arrays, or dictionaries. Here's a basic example of creating a Series in Pandas:

In [17]:
import pandas as pd

# Create a Series from a list
data = [10, 20, 30, 40, 50]

s = pd.Series(data)

print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In this example, we've created a Series named **s** with numeric data. Notice that Pandas automatically assigned numerical indices (0, 1, 2, 3, 4) to each element, but you can also specify custom labels if needed.

# Accessing Elements in a Series
You can access elements in a Series using the index labels or integer positions. Here are a few common methods for accessing Series data:

**Accessing by label**

In [18]:
print(s[2])       # Access the element with label 2

30

**Accessing by position**

In [19]:
print(s.iloc[3])  # Access the element at position 3

40

**Accessing multiple elements**

In [20]:
print(s[1:4])     # Access a range of elements by label

1    20
2    30
3    40
dtype: int64

# Series Attributes and Methods

Pandas Series come with various attributes and methods to help you manipulate and analyze data effectively. Here are afew essential ones:
* **values**: Returns the Series data as a NumPy array.
* **index**: Returns the index (labels) of the Series.
* **shape**: Returns a tuple representing the dimensions of the Series.
* **size**: Returns the number of elements in the Series.
* **mean(), sum(), min(), max()**: Calculate summary statistics of the data.
* **unique(), nunique()**: Get unique values or the number of unique values.
* **sort_values(), sort_index()**: Sort the Series by values or index labels.
* **isnull(), notnull()**: Check for missing (NaN) or non-missing values.
* **apply()**: Apply a custom function to each element of the Series.

# What is a DataFrames?
A DataFrame is a two-dimensional labeled data structure with columns of potentially different data types. Think of it as a table where each column represents a variable, and each row represents an observation or data point. DataFrames are suitable for a wide range of data, including structured data from CSV files, Excel spreadsheets, SQL databases, and more.

# Creating DataFrames from Dictionaries
DataFrames can be created from dictionaries, with keys as column labels and values as lists representing rows.

In [21]:
import pandas as pd

# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 28],
        'Country': ['USA', 'UK', 'Hong Kong', 'Taiwan']}

df = pd.DataFrame(data)

print(df)

      Name  Age    Country
0    Alice   25        USA
1      Bob   30         UK
2  Charlie   35  Hong Kong
3    David   28     Taiwan

# Accessing elements in a DataFrame

**Column Selection**

You can select a single column from a DataFrame by specifying the column name within double brackets.
Multiple columns can be selected in a similar manner, creating a new DataFrame.

In [22]:
# Access the 'Name' column
print(df['Name'])

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

**Accessing Rows**

You can access rows by their index using `.iloc[]` or by label using `.loc[]`.

In [23]:
# Access the third row by position
print(df.iloc[2])

Name         Charlie
Age               35
Country    Hong Kong
Name: 2, dtype: object

In [24]:
# Access the second row by label
print(df.loc[1])

Name       Bob
Age         30
Country     UK
Name: 1, dtype: object

**Slicing**

You can slice DataFrames to select specific rows and columns.

In [25]:
# Select specific columns
print(df[['Name', 'Age']])

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   28

In [26]:
# Select specific rows
print(df[1:3])

      Name  Age    Country
1      Bob   30         UK
2  Charlie   35  Hong Kong

# Finding Unique Elements
Use the unique method to determine the unique elements in a column of a DataFrame.

In [27]:
unique_dates = df['Age'].unique()
unique_dates

array([25, 30, 35, 28], dtype=int64)

# Conditional Filtering
You can filter data in a DataFrame based on conditions using inequality operators. For instance, you can filter people of age above 25.

In [28]:
age_above_25 = df[df['Age'] > 25]
age_above_25

      Name  Age    Country
1      Bob   30         UK
2  Charlie   35  Hong Kong
3    David   28     Taiwan

# Saving DataFrames
To save a DataFrame to a CSV file, use the `.to_csv()` method and specify the filename with a “.csv” extension. Pandas provides other functions for saving DataFrames in different formats.
```Python
# Syntax
df.to_csv('people_data.csv', index = False)
```

# DataFrame Attributes and Methods
DataFrames provide numerous attributes and methods for data manipulation and analysis, including:
* **shape**: Returns the dimensions (number of rows and columns) of the DataFrame.
* **info()**: Provides a summary of the DataFrame, including data types and non-null counts.
* **describe()**: Generates summary statistics for numerical columns.
* **head(), tail()**: Displays the first or last n rows of the DataFrame.
* **mean(), sum(), min(), max()**: Calculate summary statistics for columns.
* **sort_values()**: Sort the DataFrame by one or more columns.
* **groupby()**: Group data based on specific columns for aggregation.
* **fillna(), drop(), rename()**: Handle missing values, drop columns, or rename columns.
* **apply()**: Apply a function to each element, row, or column of the DataFrame.

Pandas offers a wide range of methods beyond these examples. For more detailed information, please refer to the official documentation available on the [Pandas official website](https://pandas.pydata.org/docs/).

# Conclusion
In conclusion, mastering the use of Pandas Series and DataFrames is essential for effective data manipulation andanalysis in Python. Series provide a foundation for handling one-dimensional data with labels, while DataFrames offer a versatile, table-like structure for working with two-dimensional data. Whether you're cleaning, exploring, transforming, or analyzing data, these Pandas data structures, along with their attributes and methods, empower you to efficiently and flexibly manipulate data to derive valuable insights. By incorporating Series and DataFrames into your data science toolkit, you'll be well-prepared to tackle a wide range of data-related tasks and enhance your data analysis capabilities.