# Python Programming Fundamentals Cheat Sheet

## `AND`
Returns `True` if both statement1 and statement2 are `True`. Otherwise, returns `False`.
```Python
# Syntax
statement1 and statement2
```

In [1]:
# Example
marks = 90
attendance_percentage = 87

if marks >= 80 and attendance_percentage >= 85:
    print("qualify for honors")
else:
    print("Not qualified for honors")

qualify for honors

## Class Definition
Defines a blueprint for creating objects and defining their attributes and behaviors.
```Python
# Syntax
class ClassName: # Class attributes and methods
```

In [5]:
# Example
class Person: 
    def __init__(self, name, age): 
        self.name = name 
        self.age = age

Person1 = Person('Steven', 25)
print(Person1.name)
print(Person1.age)

Steven
25

## Define Function
A `function` is a reusable block of code that performs a specific task or set of tasks when called.
```Python
# Syntax
def function_name(parameters): # Function body
```

In [4]:
# Example
def greet(name): print("Hello,", name)

greet('Steven')

Hello, Steven

## Equal (`==`)
Checks if two values are equal.
```Python
# Syntax
variable1 == variable2 
```

In [6]:
# Example 1
5 == 5

True

In [8]:
# Example 2
age = 25
age == 30

False

## For Loop
A `for` loop repeatedly executes a block of code for a specified number of iterations or over a sequence of elements (list, range, string, etc.).
```Python
# Syntax
for variable in sequence: # Code to repeat 
```

In [9]:
# Example 1
for num in range(1, 10): 
    print(num)

1
2
3
4
5
6
7
8
9

In [10]:
# Example 2
fruits = ["apple", "banana", "orange", "grape", "kiwi"] 
for fruit in fruits:
    print(fruit)

apple
banana
orange
grape
kiwi

## Function Call
A function call is the act of executing the code within the function using the provided arguments.
```Python
# Syntax
function_name(arguments)
```

In [11]:
# Example
greet("Alice")

Hello, Alice

## Greater Than or Equal To(`>=`)
Checks if the value of variable1 is greater than or equal to variable2.
```Python
# Syntax
variable1 >= variable2 
```

In [12]:
# Example 1
5 >= 5 and 9 >= 5

True

In [13]:
# Example 2
quantity = 105 
minimum = 100 
quantity >= minimum

True

## Greater Than(`>`)
Checks if the value of variable1 is greater than variable2.
```Python
# Syntax
variable1 > variable2 
```

In [14]:
# Example 1
9 > 6

True

In [15]:
# Example 2
age = 20 
max_age = 25 
age > max_age

False

## If Statement
Executes code block `if` the condition is `True`.
```Python
# Syntax
if condition: #code block for if statement 
```

In [17]:
# Example
temperature = 33

if temperature > 30:
    print("It's a hot day!")

It's a hot day!

## If-Elif-Else
Executes the first code block if condition1 is `True`, otherwise checks condition2, and so on. If no condition is `True`, the else block is executed.
```Python
# Syntax
if condition1:
# Code if condition1 is True

elif condition2:
# Code if condition2 is True

else:
# Code if no condition is True
```

In [18]:
# Example
score = 85             # Example score

if score >= 90:
    print("You got an A!")
elif score >= 80:
    print("You got a B.")
else:
    print("You need to work harder.")

You got a B.

## If-Else Statement
Executes the first code block if the condition is `True`, otherwise the second block.
```Python
# Syntax
if condition: # Code, if condition is True 
else:         # Code, if condition is False 
```

In [19]:
# Example
age = 25

if age >= 18:
    print("You're an adult.")
else:
    print("You're not an adult yet.")

You're an adult.

## Less Than or Equal To(`<=`)
Checks if the value of variable1 is less than or equal to variable2.
```Python
# Syntax
variable1 <= variable2 			 
```

In [20]:
# Example 1
5 <= 5 and 3 <= 5

True

In [21]:
# Example 2
size = 38 
max_size = 40 
size <= max_size

True

## Less Than(`<`)
Checks if the value of variable1 is less than variable2.
```Python
# Syntax
variable1 < variable2 
```

In [24]:
# Example 1
4 < 6

True

In [25]:
# Example 2
score = 60 
passing_score = 65 
score < passing_score

True

## Loop Controls
`break` exits the loop prematurely. `continue` skips the rest of the current iteration and moves to the next iteration.
```Python
# Syntax
for: # Code to repeat 
    if # boolean statement
        break 

for: # Code to repeat  
    if # boolean statement
        continue
```

In [26]:
# Example 1
for num in range(1, 6):
    if num == 3:
        break
    print(num)

1
2

In [27]:
# Example 2
for num in range(1, 6):
    if num == 3:
        continue
    print(num)

1
2
4
5

## `NOT`
Returns `True` if variable is `False`, and vice versa.
```Python
# Syntax
not(variable)
```

In [44]:
# Example
a = 1
b = not(a)
b

False

## Not Equal(`!=`)
Checks if two values are not equal.
```Python
# Syntax
variable1 != variable2
```

In [45]:
# Example 1
a = 10 
b = 20 
a != b

True

In [46]:
# Example 2
count = 0 
count != 0

False

## Object Creation
Creates an instance of a class (object) using the class constructor.
```Python
# Syntax
object_name = ClassName(arguments)
```

## `OR`
Returns `True` if either statement1 or statement2 (or both) are `True`. Otherwise, returns `False`.
```Python
# Syntax
statement1 || statement2 
```

In [52]:
# Example
grade = 12
grade == 11 or grade == 12

True

## `range()`
Generates a sequence of numbers within a specified range.
```Python
# Syntax
range(stop) 
range(start, stop) 
range(start, stop, step) 
```

In [53]:
# Example
range(5)         # generates a sequence of integers from 0 to 4. 
range(2, 10)     # generates a sequence of integers from 2 to 9. 
range(1, 11, 2)  # generates odd integers from 1 to 9.

range(1, 11, 2)

## Return Statement
`Return` is a keyword used to send a value back from a function to its caller.
```Python
# Syntax
return value
```

In [55]:
# Example
def add(a, b): return a + b 
result = add(3, 5)
result

8

## Try-Except Block
Tries to execute the code in the try block. If an exception of the specified type occurs, the code in the except block is executed.
```Python
# Syntax
try:            # Code that might raise an exception except 
ExceptionType:  # Code to handle the exception 
```

In [56]:
# Example
try: 
    num = int(input("Enter a number: ")) 
except ValueError: 
    print("Invalid input. Please enter a valid number.")

Enter a number:  u

Invalid input. Please enter a valid number.

## Try-Except with Else Block
Code in the `else` block is executed if no exception occurs in the try block.
```Python
# Syntax
try:                   # Code that might raise an exception except 
except:ExceptionType:  # Code to handle the exception 
else:                  # Code to execute if no exception occurs 
```

In [57]:
# Example
try: 
    num = int(input("Enter a number: ")) 
except ValueError: 
    print("Invalid input. Please enter a valid number") 
else: 
    print("You entered:", num)

Enter a number:  689

You entered: 689

## Try-Except with Finally Block
Code in the `finally` block always executes, regardless of whether an exception occurred.
```Python
# Syntax
try:                   # Code that might raise an exception except 
except ExceptionType:  # Code to handle the exception 
finally:               # Code that always executes
```

In [59]:
# Example
try: 
    file = open("data.txt", "r") 
    data = file.read() 
except FileNotFoundError: 
    print("File not found.") 
finally: 
    print("Exit Try-Except Block")

File not found.
Exit Try-Except Block

## While Loop
A `while` loop repeatedly executes a block of code as long as a specified condition remains `True`.
```Python
# Syntax
while condition: # Code to repeat
```

In [62]:
# Example
count = 0
while count < 5: 
    print(count)
    count += 1

0
1
2
3
4

## Python `enumerate()` function
The Python `enumerate()` function simplify loops that need counters.
Please refer to the [Real Python](https://realpython.com/python-enumerate/) website for more information.

### Iterating With `for` Loops in Python

In [2]:
# Example 1
values = ['a', 'b', 'c']

for value in values:
    print(value)

a
b
c

In [5]:
# Example 2
# If you want to print the index of the item in the list to the screen on every iteration
index = 0
for value in values:
    print(index, value)
    index += 1           # this statement is need to update the value of the index

0 a
1 b
2 c

In [6]:
# Example 3
# Repeat example 2 using range() combined with len()
for index in range(len(values)):
    value = values[index]
    print(index, value)

0 a
1 b
2 c

### Using Python's `enumerate()`
`enumerate()` returns an iterator with index and element pairs from the original iterable.

In [10]:
# Example 1
for value in enumerate(values):
    print(value)

(0, 'a')
(1, 'b')
(2, 'c')

In [11]:
# Example 2
# Use enumerate() in a loop
for count, value in enumerate(values):
    print(count, value)

0 a
1 b
2 c

Just like with a normal `for` loop, the loop variables can be named whatever you want them to be named. You use `count` and `value` in this example, but they could be named `i` and `v` or any other valid Python names.

In [12]:
# Example 3
# Print the index beginning from 1 using the start argument
for count, value in enumerate(values, start=1):
    print(count, value)

1 a
2 b
3 c