# Python Data Structures Cheat Sheet

This is a Cheat Sheet for the following Python Data Structures:

* [List](#0)
* [Dictionary](#1)
* [Set](#2)

## List <a id = "0"></a>

### `append()`

The `append()` method is used to add an element to the end of a list.
```Python
# Syntax
list_name.append(element)
```

In [1]:
# Example
fruits = ["apple", "banana", "orange"] 
fruits.append("mango")
print(fruits)

['apple', 'banana', 'orange', 'mango']

### `copy()`
The `copy()` method is used to create a shallow copy of a list. The shallow copy will not be altered when the original copy was changed.

In [2]:
# Example
my_list = [1, 2, 3, 4, 5] 
new_list = my_list.copy()
print(new_list)

[1, 2, 3, 4, 5]

In [3]:
# Example: Original copy changed
my_list.remove(5)
print(f"my_list is {my_list}")
print(f"new_list is {new_list}")

my_list is [1, 2, 3, 4]
new_list is [1, 2, 3, 4, 5]

### Copy and Clone List using `=`

In [4]:
# Example
A = ["hard rock", 10, 1.2]
B = A                       # Copy by reference
C = A[:]                    # Copy by cloning
print(f"A is {A} before amending A")
print(f"B is {B} before amending A")
print(f"C is {C} before amending A")
A.remove(1.2)               # Altering list A
print(f"A is {A} after amending A")
print(f"B is {B} after amending A")
print(f"C is {C} after amending A")

A is ['hard rock', 10, 1.2] before amending A
B is ['hard rock', 10, 1.2] before amending A
C is ['hard rock', 10, 1.2] before amending A
A is ['hard rock', 10] after amending A
B is ['hard rock', 10] after amending A
C is ['hard rock', 10, 1.2] after amending A

### `count()`
The `count()` method is used to count the number of occurrences of a specific element in a list in Python.

In [5]:
# Example
my_list = [1, 2, 2, 3, 4, 2, 5, 2] 
count = my_list.count(2)
print(count)

4

### Creating a list

A list is a built-in data type that represents an ordered and mutable collection of elements. Lists are enclosed in square brackets [] and elements are separated by commas.

In [6]:
# Example
fruits = ["apple", "banana", "orange", "mango"]
fruits

['apple', 'banana', 'orange', 'mango']

### Constructing lists using comprehensions
A comprehension appears in square brackets after the list name assignment and includes three elements: an expression, an individual item upon which to act, and a list of items to work with.

In [7]:
# Example
Letters = [letter.upper() for letter in "Hello"]
print(Letters)

['H', 'E', 'L', 'L', 'O']

### `del`
The `del` statement is used to remove an element from list. `del` statement removes the element at the specified index.

In [8]:
# Example
my_list = [10, 20, 30, 40, 50] 
del my_list[2]    # Removes the element at index 2
print(my_list)

[10, 20, 40, 50]

### `extend()`
The `extend()` method is used to add multiple elements to a list. It takes an iterable (such as another list, tuple, or string) and appends each element of the iterable to the original list.
```Python
# Syntax
list_name.extend(iterable)
```

In [9]:
# Example
fruits = ["apple", "banana", "orange"] 
more_fruits = ["mango", "grape"] 
fruits.extend(more_fruits) 
print(fruits)

['apple', 'banana', 'orange', 'mango', 'grape']

### Combining lists using concatenation

In [10]:
# Example
fruits = ["apple", "banana", "orange"] 
more_fruits = ["mango", "grape"]
All_fruits = fruits + more_fruits
All_fruits

['apple', 'banana', 'orange', 'mango', 'grape']

### Indexing
Indexing in a list allows you to access individual elements by their position. In Python, indexing starts from 0 for the first element and goes up to `length_of_list - 1`.

In [11]:
# Example
my_list = [10, 20, 30, 40, 50] 
print(my_list[0])      # accessing the first element
print(my_list[-1])     # accessing the last element using negative indexing

10
50

### `insert()`
The `insert()` method is used to insert an element.
```Python
# Syntax
list_name.insert(index, element)
```

In [12]:
# Example
my_list = [1, 2, 3, 4, 5] 
my_list.insert(2, 6) 
print(my_list)

[1, 2, 6, 3, 4, 5]

### Modifying a list
You can use indexing to modify or assign new values to specific elements in the list.

In [13]:
# Example
my_list = [10, 20, 30, 40, 50] 
my_list[1] = 25    # Modifying the second element 
print(my_list)

[10, 25, 30, 40, 50]

### `pop()`
`pop()` method is another way to remove an element from a list in Python. It removes and returns the element at the specified index. If you don't provide an index to the `pop()` method, it will remove and return the last element of the list by default

In [14]:
# Example 1
my_list = [10, 20, 30, 40, 50] 
removed_element = my_list.pop(2)    # Removes and returns the element at index 2 
print(removed_element) 
print(my_list)

30
[10, 20, 40, 50]

In [15]:
# Example 2
my_list = [10, 20, 30, 40, 50] 
removed_element = my_list.pop()     # Removes and returns the last element 
print(removed_element)
print(my_list)

50
[10, 20, 30, 40]

### `remove()`
To remove an element from a list. The `remove()` method removes the first occurrence of the specified value.

In [16]:
# Example
my_list = [10, 20, 30, 40, 50] 
my_list.remove(30)                   # Removes the element 30 
print(my_list)

[10, 20, 40, 50]

### `reverse()`
The `reverse()` method is used to reverse the order of elements in a list

In [17]:
# Example
my_list = [1, 2, 3, 4, 5] 
my_list.reverse()
print(my_list)

[5, 4, 3, 2, 1]

### Slicing
You can use slicing to access a range of elements from a list.
```Python
# Syntax
list_name[start:end:step] 
```

In [18]:
# Example
my_list = [1, 2, 3, 4, 5] 
print(my_list[1:4])        # elements from index 1 to 3
print(my_list[:3])         # elements from the beginning up to index 2 
print(my_list[2:])         # elements from index 2 to the end
print(my_list[::2])        # every second element

[2, 3, 4]
[1, 2, 3]
[3, 4, 5]
[1, 3, 5]

### `sort()`
The `sort()` method is used to sort the elements of a list in ascending order. If you want to sort the list in descending order, you can pass the `reverse=True` argument to the `sort()` method.

In [19]:
# Example 1
my_list = [5, 2, 8, 1, 9] 
my_list.sort() 
print(my_list)

[1, 2, 5, 8, 9]

In [20]:
# Example 2
my_list = [5, 2, 8, 1, 9] 
my_list.sort(reverse=True) 
print(my_list)

[9, 8, 5, 2, 1]

## Dictionary <a id = "1"></a>

### Creating a Dictionary
A dictionary is a built-in data type that represents a collection of key-value pairs. Dictionaries are enclosed in curly braces {}.

In [21]:
# Example
dict_name = {}          #Creates an empty dictionary
grades = {"A": "Excellent",  "B": "Good", "C": "Pass"}
person = {"name": "John",  "age": 30, "city": "New York"}
person

{'name': 'John', 'age': 30, 'city': 'New York'}

### Accessing Values
You can access the values in a dictionary using their corresponding `keys.
```Python
# Syntax
Value = dict_name["key_name"]
```

In [22]:
# Example
name = person["name"]
print(name)
age = person["age"]
print(age)

John
30

### Add or modify
Inserts a new key-value pair into the dictionary. If the key already exists, the value will be updated; otherwise, a new entry is created.
```Python
# Syntax
dict_name[key] = value
```

In [23]:
# Example
person["Country"] = "USA"   # A new entry will be created.
person["city"] = "Chicago"  # Update the existing value for the same key
person

{'name': 'John', 'age': 30, 'city': 'Chicago', 'Country': 'USA'}

### `del`
Removes the specified key-value pair from the dictionary. Raises a `KeyError` if the key does not exist.
```Python
# Syntax
del dict_name[key]
```

In [24]:
# Example
del person["Country"]
person

{'name': 'John', 'age': 30, 'city': 'Chicago'}

### `update()`
The `update()` method merges the provided dictionary into the existing dictionary, adding or updating key-value pairs.
```Python
# Syntax
dict_name.update({key: value})
```

In [25]:
# Example
person.update({"Profession": "Doctor"})
person

{'name': 'John', 'age': 30, 'city': 'Chicago', 'Profession': 'Doctor'}

### `clear()`
The `clear()` method empties the dictionary, removing all key-value pairs within it. After this operation, the dictionary is still accessible and can be used further.
```Python
# Syntax
dict_name.clear()
```

In [26]:
# Example
grades.clear()
grades

{}

### key existence
You can check for the existence of a key in a dictionary using the `in` keyword.

In [27]:
# Example
if "name" in person:
    print("Name exists in the dictionary.")

Name exists in the dictionary.

### `copy()`
Creates a shallow copy of the dictionary. The new dictionary contains the same key-value pairs as the original, but they remain distinct objects in memory.
```Python
# Syntax
new_dict = dict_name.copy()
```

In [28]:
# Example
new_person = person.copy()
new_person = dict(person)    # another way to create a copy of dictionary
new_person

{'name': 'John', 'age': 30, 'city': 'Chicago', 'Profession': 'Doctor'}

### `keys()`
Retrieves all keys from the dictionary and converts them into a list. Useful for iterating or processing keys using list methods.
```Python
# Syntax
keys_list = list(dict_name.keys())
```

In [29]:
# Example
person_keys = list(person.keys())
person_keys

['name', 'age', 'city', 'Profession']

### `values()`
Extracts all values from the dictionary and converts them into a list. This list can be used for further processing or analysis.
```Python
# Syntax
values_list = list(dict_name.values())
```

In [30]:
# Example
person_values = list(person.values())
person_values

['John', 30, 'Chicago', 'Doctor']

### `items()`
Retrieves all key-value pairs as tuples and converts them into a list of tuples. Each tuple consists of a key and its corresponding value.
```Python
# Syntax
items_list = list(dict_name.items())
```

In [31]:
# Example
info = list(person.items())
info

[('name', 'John'), ('age', 30), ('city', 'Chicago'), ('Profession', 'Doctor')]

## Set <a id = "2"></a>

### Defining Sets
A set is an unordered collection of unique elements. Sets are enclosed in curly braces `{}`. They are useful for storing distinct values and performing set operations.

In [32]:
# Example
empty_set = set()                          #Creating an Empty 
fruits = {"apple", "banana", "orange"}
foods = {"egg", "apple", "banana", "orange"}

### `add()`
Elements can be added to a set using the `add()` method. Duplicates are automatically removed, as sets only store unique values.
```Python
# Syntax
set_name.add(element) 
```

In [33]:
# Example
fruits.add("mango")
fruits

{'apple', 'banana', 'mango', 'orange'}

### `copy()`
The `copy()` method creates a shallow copy of the set. Any modifications to the copy won't affect the original set.
```Python
# Syntax
new_set = set_name.copy() 
```

In [34]:
# Example
new_fruits = fruits.copy()
new_fruits

{'apple', 'banana', 'mango', 'orange'}

### `discard()`
Use the `discard()` method to remove a specific element from the set. Ignores if the element is not found. The `discard()` method will not raise an error if the specified item does not exist.
```Python
# Syntax
set_name.discard(element) 
```

In [35]:
# Example
fruits.discard("blueberry")
fruits

{'apple', 'banana', 'mango', 'orange'}

### `remove()`
Use the `remove()` method to remove a specific element from the set. Raises a `KeyError` if the element is not found.
```Python
# Syntax
set_name.remove(element)
```

In [36]:
# Example
fruits.remove("mango")
fruits

{'apple', 'banana', 'orange'}

### `issubset()`
The `issubset()` method checks if the current set is a subset of another set. It returns True if all elements of the current set are present in the other set, otherwise False.
```Python
# Syntax
issubset(set2)
```

In [37]:
# Example
fruits.issubset(foods)

True

### `issuperset()`
The `issuperset()` method checks if the current set is a superset of another set. It returns True if all elements of the other set are present in the current set, otherwise False.
```Python
# Syntax
set1.issuperset(set2)
```

In [38]:
# Example
foods.issuperset(fruits)

True

### `pop()`
The `pop()` method removes and returns an arbitrary element from the set. It raises a `KeyError` if the set is empty. Use this method to remove elements when the order doesn't matter.
```Python
# Syntax
set_name.pop()
```

In [39]:
# Example
fruits.pop()

'banana'

In [40]:
fruits

{'apple', 'orange'}

### `update()`
The `update()` method adds elements from another iterable into the set. It maintains the uniqueness of elements.
```Python
# Syntax
set_name.update(iterable) 
```

In [41]:
# Example
fruits.update(["kiwi", "grape"])
fruits

{'apple', 'grape', 'kiwi', 'orange'}

### Set Operations
Perform various operations on sets: `union`, `intersection`, `difference`, `symmetric difference`.
```Python
# Syntax
union_set = set1.union(set2) 
intersection_set = set1.intersection(set2) 
difference_set = set1.difference(set2) 
sym_diff_set = set1.symmetric_difference(set2)
```

In [42]:
# Example
combined = fruits.union(foods)
combined

{'apple', 'banana', 'egg', 'grape', 'kiwi', 'orange'}

In [43]:
# Example
common = fruits.intersection(foods)
common

{'apple', 'orange'}

In [44]:
# Example
unique_to_fruits = fruits.difference(foods) 
unique_to_fruits

{'grape', 'kiwi'}

In [45]:
# Example
sym_diff = fruits.symmetric_difference(foods)
sym_diff

{'banana', 'egg', 'grape', 'kiwi'}

### `clear()`
The `clear()` method removes all elements from the set, resulting in an empty set. It updates the set in-place.
```Python
# Syntax
set_name.clear()
```

In [46]:
# Example
fruits.clear()
fruits

set()